* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   font-family: "Open Sans", sans-serif;
}

ul,
ol,
li {
   list-style: none;
}

// =============================================== //

[class*="__container"] {
   max-width: 100%;
   height: 100vh;
   margin: 0 auto;
   // overflow: hidden;
}

// =============================================== //

:root {
   --def-background: radial-gradient(46.41% 73.99% at 46.63% 48.05%, #20135c 0%, #140739 92.82%);
   --ope-sans-min: 14px;
   --ope-sans-max: 36px;
   --color-blue: #1288e8;
   --color-grey: #616a8b;
   --color-white: #ffffff;
   --colors-royalblue: linear-gradient(#5fb2ff, #3887fe);
   --colors-orange: linear-gradient(#f7bc7a, #ed6480);
   --font-weight-light: 300;
   --font-weight-regular: 400;
   --font-weight-semibold: 600;
   --font-weight-bold: 700;
   --font-weight-extrabold: 800;
}

.wrapper__container {
   background: var(--def-background);
   display: flex;
   aside {
      width: 220px;
      height: 100vh;
      background: linear-gradient(0.32deg, rgba(28, 35, 64, 0) -5.79%, #1c0f54 114.59%);
      box-shadow: 0px -5px 25px #00032080;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 26px 15px 41px 15px;
      transition: 0.5s ease;
      .block_logo {
         display: flex;
         align-content: center;
         justify-content: center;
      }
      .block_tabs {
         height: fit-content;
         padding-top: 20px;
         .tab {
            display: flex;
            align-items: center;
            gap: 16px;
            padding: 16px 11px;
            color: var(--color-grey);
            transition: 0.3s ease;
            border-radius: 5px;
            font-weight: var(--font-weight-semibold);
            font-size: var(--ope-sans-min);
            line-height: 19px;
            &:hover {
               background-color: #32395e;
               border: none;
               border-bottom: 2px solid #1288e8;
            }
         }
      }
      .block_log_out {
         border-top: 1px solid #018fff;
         .log_out {
            display: flex;
            align-items: center;
            gap: 21px;
            color: var(--color-grey);
            margin-top: 26px;
            font-weight: var(--font-weight-semibold);
            font-size: var(--ope-sans-min);
            line-height: 16px;
         }
      }
   }
   main {
      width: 100%;
      padding: 0 32px;
      header {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 32px 0 24px 0;
         border-bottom: 1px solid #2d317a;
         .header_left {
            width: 30%;
            display: flex;
            gap: 20px;
            position: relative;
            .burger {
               position: relative;
               width: 60px;
               height: 21px;
               display: none;
               span {
                  &::after {
                     position: absolute;
                     content: "";
                     width: 100%;
                     height: 3px;
                     background-color: #ffffff;
                  }
                  &:nth-child(2) {
                     &::after {
                        top: 50%;
                     }
                  }
                  &:nth-child(3) {
                     &::after {
                        top: 100%;
                     }
                  }
               }
            }
            input {
               width: 100%;
               background: #161245;
               box-shadow: 0px 4px 20px rgba(3, 16, 52, 0.5);
               border-radius: 25px;
               border: none;
               outline: none;
               padding: 7px 20px;
               color: var(--color-white);
            }
            img {
               position: absolute;
               top: 7px;
               right: 15.5px;
            }
         }
         .header_right {
            display: flex;
            align-items: center;
            gap: 40px;
         }
      }
      .content {
         width: 100%;
         height: 790px;
         padding-top: 28px;
         overflow: auto;

         .content_name {
            color: var(--color-white);
            font-weight: var(--font-weight-semibold);
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 27px;
         }
         .block_flex {
            margin-top: 32px;
            display: flex;
            align-items: center;
            gap: 24px;
            .block_valuet {
               width: 100%;
               background: linear-gradient(180deg, #1b124e33 0%, #0f0b38 93.37%);
               padding: 32px 35px 28px 32px;
               .flex {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  select {
                     background-color: transparent;
                     outline: none;
                     border: none;
                     color: var(--color-white);
                     font-weight: 600;
                     font-size: 24px;
                     line-height: 33px;
                  }
               }
               input {
                  width: 100%;
                  padding: 6px 16px 7px 16px;
                  background: #32395e;
                  border-radius: 5px;
                  border: none;
                  outline: none;
                  border-bottom: 2px solid #1288e8;
                  color: var(--color-white);
               }
            }
         }
         .block_status {
            background: linear-gradient(180deg, rgba(27, 18, 78, 0.2) -153.98%, #0f0b38 140.59%);
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 24px;
            padding: 28px;
            gap: 32px;
            .from {
               width: 100%;
               display: flex;
               align-items: center;
               justify-content: flex-end;
               gap: 16px;
               input {
                  width: 50%;
                  background-color: transparent;
                  outline: none;
                  border: none;
                  color: var(--color-white);
                  font-weight: var(--font-weight-bold);
                  font-size: 24px;
                  line-height: 33px;
                  cursor: pointer;
               }
            }
            .to {
               justify-content: flex-start;
            }
         }
         .block_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 32px;
            .btn {
               padding: 9px 21px;
               border: none;
               cursor: pointer;
               background: linear-gradient(88.43deg, #1288e8 11.5%, #0097e8 76.7%);
               box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
               border-radius: 8px;
               font-weight: var(--font-weight-semibold);
               font-size: 18px;
               line-height: 25px;
               color: var(--color-white);
            }
         }
      }
   }
}
@media (max-width: 1087px) {
   aside {
      max-width: fit-content;
      overflow: hidden;
      .block_logo {
         display: none !important;
      }
      .tab {
         span {
            display: none;
         }
      }
      .block_log_out {
         display: flex;
         flex-direction: column;
         align-items: center;
         .log_out {
            span {
               display: none;
            }
         }
      }
   }
}
@media (max-width: 991.98px) {
   .block_flex {
      flex-direction: column;
   }
   .block_status {
      img {
         width: 100px;
      }
   }
}
@media (max-width: 767.98px) {
   .block_status {
      img {
         width: 70px;
      }
   }
   .from {
      img {
         display: none;
      }
   }
   .burger {
      display: flex !important;
      flex-direction: column;
   }
   aside {
      width: 220px;
      height: 100vh;
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 100;
      background: linear-gradient(#20135c, #140739) !important;
      .block_logo {
         display: block !important;
      }
      .tab {
         span {
            display: block;
         }
      }
   }
}
.modal_bg {
   display: none;
   opacity: 0;
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.5);
   position: fixed;
   top: 0px;
   left: 0px;
   backdrop-filter: blur(10px);
   transition: 0.3s ease;
   img {
      position: absolute;
      width: 30px;
      top: 20px;
      right: 20px;
      filter: invert(100%);
   }
}

// =================================== //

.between {
   display: flex;
   justify-content: space-between;
   span:nth-child(2) {
      margin-left: 40px;
      font-weight: 600;
      font-size: var(--ope-sans-min);
      line-height: 19px;
      color: #54669c;
   }

   button {
      all: unset;
      background: linear-gradient(271.88deg, #3887fe 4.26%, #3ba0ff 51.37%, #5fb2ff 99.01%);
      box-shadow: 0px 2px 4px rgba(85, 35, 221, 0.4);
      border-radius: 25px;
      padding: 6px 23px;
      font-weight: 700;
      font-size: var(--ope-sans-min);
      line-height: 19px;
      color: var(--color-white);
      cursor: pointer;
   }
}

.block_statistics {
   .statistics {
      width: 100%;
      display: flex;
      gap: 32px;
      .block_doughnut {
         width: 100%;
         background: linear-gradient(180deg, rgba(27, 18, 78, 0.2) 0%, #0f0b38 93.37%);
         box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
         border-radius: 5px;
         padding: 16px 24px 24px 24px;
         .text_balance {
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
            color: var(--color-white);
         }
         .balance {
            .flex {
               display: flex;
               align-items: center;
               justify-content: space-between;
               color: var(--color-white);
               font-weight: 400;
               font-size: var(--ope-sans-min);
               line-height: 16px;
               margin-bottom: 10px;
               div {
                  display: flex;
                  align-items: center;
                  gap: 10px;
               }
            }
         }
      }
      .block_line {
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         background: linear-gradient(180deg, rgba(27, 18, 78, 0.2) 0%, #0f0b38 93.37%);
         box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
         border-radius: 5px;
         padding: 16px 24px 24px 24px;
         .between {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #fff;
            font-weight: var(--font-weight-bold);
            font-size: 14px;
            line-height: 19px;
            select {
               background-color: transparent;
               border: none;
               color: #fff;
               font-weight: 300;
               font-size: 14px;
               line-height: 19px;
            }
         }
         .money {
            display: flex;
            flex-direction: column;
            color: #fff;
            span:nth-child(1) {
               font-weight: var(--font-weight-bold);
               font-size: 16px;
               line-height: 22px;
            }
            span:nth-child(2) {
               font-weight: 300;
               font-size: 8px;
               line-height: 11px;
               text-transform: lowercase;
            }
         }
      }
   }
   display: flex;
   gap: 32px;
   .cards {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      color: #fff;
      gap: 16px;
      .card {
         width: fit-content;
         height: fit-content;
         padding: 16px;
         background: linear-gradient(237.07deg, #6162d6 -8.06%, #0f0b38 96.63%);
         box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
         border-radius: 5px;
         .flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            .block_money {
               display: flex;
               color: #fff;
               gap: 9px;
               img {
                  width: 64px;
                  height: 64px;
               }
               div {
                  display: flex;
                  flex-direction: column;
                  span:nth-child(1) {
                     font-weight: 700;
                     font-size: 14px;
                     line-height: 19px;
                  }
                  span:nth-child(2) {
                     font-weight: 700;
                     font-size: 12px;
                     line-height: 16px;
                  }
               }
            }
            .card_statistic {
               display: flex;
               align-items: center;
               gap: 5px;
               span:nth-child(1) {
                  font-weight: 400;
                  font-size: 8px;
                  line-height: 11px;
               }
               span:nth-child(2) {
                  font-weight: 300;
                  font-size: 6px;
                  line-height: 8px;
               }
               div {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  padding: 6px 0;
               }
            }
         }
      }
   }
}

.news {
   width: 100%;
   display: flex;
   margin-top: 32px;
   gap: 32px;
   color: #fff;
   .block_line2 {
      width: 50%;
   }

   .recent_news {
      width: 50%;
      padding: 16px 24px;
      background: linear-gradient(185.19deg, rgba(27, 18, 78, 0.2) 3.73%, #0f0b38 95.83%);
      border-radius: 5px;
      .text {
         padding-bottom: 8px;
         font-weight: 700;
         font-size: 14px;
         line-height: 19px;
         border-bottom: 1px solid #2d317a;
      }
      .new {
         margin-top: 16px;
         display: flex;
         align-items: center;
         gap: 26px;

         span:nth-child(1) {
            font-weight: 300;
            font-size: 12px;
            line-height: 16px;
         }
      }
   }
}

::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
   box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
   background-color: #1a1a8372;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background: linear-gradient(180deg, #00c6fb, #005bea);
}
